#profile{
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1;
    transition: .15s ease-in-out;
}
video{
    object-fit: contain;
    width: 100%;
}
@media (min-width: 1000px){
    video{
        object-fit: contain;
    }
}
#p{
    width: 100%!important;
    height: 5px;
    appearance: none;
    background-color: transparent;
    transition: 0.5s ease;
    border-radius: 5px;
}
#p::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
} 
#p:focus{
    outline: none;
}
#controls{
    top: 0;
    left: 0;
    justify-content: space-between;
    flex-direction: column;
}
#topLine{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 50px;
    padding: 10px 0 0 10px;
    justify-content: flex-start;
}
#bottomLine{
    height: 50px;
}
.scrolled-down .episodeChanger{
    display: none;
}
.scrolled-down-bottom{
    transform:translateY(100%); transition: all 0.3s ease-in-out;
}
.scrolled-up-bottom{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}
#backBtn{
    background-image: url('/assets/back.png');
    background-size: contain;
    height: 100%;
    aspect-ratio: 1/1;
    display: block;
}
#overlay{
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
#init{
    top: 0;
    left: 0;
    cursor: pointer;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center; 
    justify-content: center;
}
#playBtn{
    width: 60px; 
    height: 60px;
}