.row .item{
    cursor: pointer;
    transition: 0.5s ease;
}
.row .item:hover{
    transform: scale(1.2);
}
.row .item:hover > .item-info{
    display: block!important;
    position: absolute;
    cursor: default;
}